<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= post.content %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= post.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= post.user_id %>
  </div>

  <div>
    <strong>Deleted at:</strong>
    <%= post.deleted_at %>
  </div>

</div>
